.module--faq {
    @apply py-40px md:py-80px;
}

.bg-faq {
    background-color: #1A1A1A;
}

.faq-group {
    &__item {
        @apply mb-50px;
    }
}

.faq {
    &-list {
        &__item {
            @apply mb-20px border-0 border-b border-[#C2EEFF];
            
            &.active {
                .faq-answer { @apply block; }
                .faq-question::after {
                    content: '-';
                }
            }
        }
    }

    &-question {
        @apply py-10px px-20px flex flex-wrap justify-between items-center cursor-pointer text-[#C2EEFF] text-[20px] font-normal;
    }

    &-question::after {
        content: '+';
    }

    &-answer {
        @apply hidden p-30px;
    }
}
