.module--page-header {
    width: 100%;
    max-height: 50vh;
}

.text-blue{
    color: #00A8E8;
}

.bg-blue{
    background-color: #00A8E8;
    &:hover{
        background-color: #00A8E8;
    }
    &:focus{
        background-color: #00A8E8;
    }
}

.hero-content{
    font-size: 32px; font-weight: bold; color: white; text-transform: capitalize;
}

.hero-heading{font-size: 20px; letter-spacing: 4px; color: #00A8E8; text-transform: uppercase;}

.mw-50{max-width: 50vh;}

.page-header {
    @apply absolute top-0 left-0 w-full h-full flex ; 
    &.align-top {
        @apply items-start;
    }

    &.align-middle {
        @apply items-center;
    }

    &.align-bottom {
        @apply items-end;
    }

    .wrapper {
        @apply py-30px text-left;

        &.align-left {
            @apply text-left;
        }

        &.align-center {
            @apply text-center;
        }

        &.align-right {
            @apply text-right;
        }
    }
}
